.Board-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 6px;
  align-items: center;
  color: cyan;

  background-color: var(--box-color);
  border: solid var(--stroke) var(--box-outline);
  padding: 5vh;
}

.user-marker {
  background-color: #5946b0;
  border: solid var(--stroke) #372568;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  font-size: 28px;

  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.Board {
  text-align: center;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  background-color: black;
  width: 500;
}

.button-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}


.button-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

button {
  margin: 1px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: var(--font1);
  font-weight: bold;
  font-size: 16pt;
  color: var(--text-dark);

  background-color: var(--bg-color);
  border: solid var(--stroke) var(--bg-outline);
}