.button {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 18pt;
    color: var(--text-light);

    background-color: var(--box-color);
    border: solid var(--stroke) var(--box-outline);
    border-radius: var(--radius);
    padding: 10px;
}

.button:hover {
    color: var(--text-hover);
}

.home-intro {
    font-size: 20px;
}

.home-main {
    font-family: var(--font2);
    text-align: center;
    font-size: 36px;
    color: var(--text-light);
    text-shadow: 3px 3px 5px #000000;

    border: solid 0px var(--bg2-outline);
    background-color: var(--bg2-color);

    padding-top: 10px;
    padding-bottom: 10px;
    height: 32em;
}

#home-error {
    color: rgb(0, 242, 255);
}

.home-OpenedRooms {
    float: none;
    font-size: 30px;
    padding-top: 3%;
    text-shadow: 2px 1px 4px #00000045;
}

.home-input {
    background-color: var(--box-color);
    border: solid var(--stroke) var(--box-outline);
    border-radius: var(--radius);

    font-family: var(--font1);
    text-align: center;
    font-size: 18pt;
    padding: 10px;
    color: var(--text-light);
}

.home-btn:hover {
    color: cyan
}