.home-title {
    font-family: var(--font1);
    font-size: 60px;
    border-bottom: solid 5px var(--box-outline);
    background-color: var(--box-color);
    color: var(--text-light);
    text-align: left;
    padding-left:20px;
}

.button {
    background-color: var(--box-color);
    color: var(--text-light);
    font-family: var(--font1);
    font-weight: bold;
    font-size: 18pt;
    padding:10px;
    border: solid 5px var(--box-outline);
    font-variant:small-caps;
}

.home-intro {
    font-size: 20px;
}

.home-main {
    font-family: var(--font2);
    text-align: center;
    border: solid 0px var(--bg2-outline);
    background-color: var(--bg2-color);
    font-size: 20px;
    color: var(--text-light);
}

.home-OpenedRooms {
    float: none;
    font-size: 30px;
    padding-top: 3%;
}

.home-input {
    background-color: var(--box-color);
    border: 5px solid var(--box-outline);
    font-family: var(--font1);
    text-align: center;
    font-size: 18pt;
    padding:10px;
    color: var(--text-light);
}