.login-box {
    width: 30em;
    height: 9em;
    background-color: var(--bg-color);
    display: block;
    margin: auto;
    justify-content: center;

    text-align:center;
    border: solid var(--stroke) var(--bg-outline);
    padding: 10px;
    border-radius: 7px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-top: 10px;

    color: var(--text-dark);
    font-family: var(font1);
    font-size: 18px;
}

.login-main {
    background-color: var(--bg2-color);
    min-height: 60.5vh;
    padding-top: 5vh;
}

.login-button {
    background-color: var(--box-color);
    color: var(--text-light);
    font-family: var(--font1);
    font-size: 16pt;
	font-weight: bold;
    width: fit-content;

    margin: 25px;
    margin-left:5px;
    padding-left:15px;
    padding-right:15px;
	margin-bottom: 8px;

    border: solid var(--stroke) var(--box-outline);
}

.login-button:hover {
    color: var(--text-hover);
}

input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}