.navbar {
	padding: 10px;
	text-align: center;
	justify-content: center;

	display: flex;
	flex-flow: row wrap;

	background-color: var(--bg-color);
	border-bottom: solid var(--stroke) var(--bg-outline);
}

.navbar-item {
	font-size: 28px;
	margin-left: 3%;
	margin-right: 3%;

	font-family: var(--font2);
	color: var(--text-dark);
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 2px 4px #00000045;
}

.navbar-item:hover {
	color: var(--text-hover);
}