.ProfilePage {
    text-align: center;
    padding: 10px;
    background-color: var(--bg2-color);
    height: 38em;
}

.user-image {
    height: 256px;
    width: 256px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 128px;
}

.user-data {
    background-color: var(--bg2-color);
    border: solid 0px var(--bg-outline);
    font-family: var(--font2);
    color: var(--text-light);
    text-shadow: 3px 3px 5px #000000;

    margin: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}