.room-room {
	margin: 10px;
	font-size: 40px;
	border: solid var(--stroke) var(--bg-outline);
	border-radius: var(--radius);
	
	background-color: var(--bg-color);
	color: var(--text-dark);
	font-family: var(--font1);
}

.room-number {
    font-size:24px;
	color: var(--text-dark);
	font-family: var(--font1);
}

.room-link {
    font-size:24px;
	color: var(--text-dark);
	font-family: var(--font1);
}

.clear-button {
    background-color: var(--box-color);
    color: var(--text-light);
    font-family: var(--font1);
    font-size: 16pt;
	font-weight: bold;

    padding:px;
	margin-bottom: 8px;

    border: solid var(--stroke) var(--box-outline);
	border-radius: var(--radius);
}

.clear-button:hover {
	color: var(--text-hover);
}